@import "tailwindcss";

/* Estilos globales */
html,
body {
  overflow-x: hidden;
  height: 100%;
}

body {
  position: relative;
}

/* Estilos para scrollbar personalizada */
.scrollbar-thin::-webkit-scrollbar {
  width: 6px;
}

.scrollbar-thin::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  background-color: rgba(99, 102, 241, 0.5);
  border-radius: 20px;
}

.scrollbar-thin::-webkit-scrollbar-thumb:hover {
  background-color: rgba(99, 102, 241, 0.8);
}
